@font-face {
  font-family: 'Architects Daughter', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cairo:wght@300&display=swap);
}

@font-face {
  font-family: 'Cairo', sans-serif;;
  src: url(https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap);
}

h1, h2 {
  font-family: 'Architects Daughter';
}

p {
  font-family: 'Cairo', sans-serif;
  line-height: 200%;
}
